<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); -%>
    
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/home" style="color: white;">ExchangeIdea</a>

    <ul class="navbar-nav ml-auto">
    

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: white;"><%= username %> profile</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">My Q&A</a>
                <a class="dropdown-item" href="/logout">Logout</a>
                
              </div>
            </li>
    </ul>

    </nav>

</body>
</html>